{
  "web": {
    "client_id": "<client id>",
    "client_secret": "<client secret>",
    "auth_uri": "https://<okta tenant name>.okta.com/oauth2/default/v1/authorize",
    "token_uri": "https://<okta tenant name>.okta.com/oauth2/default/v1/token",
    "issuer": "https://<okta tenant name>.okta.com/oauth2/default",
    "redirect_uris": [
      "https://<pacs domain name>/oidc/callback"
    ]
  }
}