<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PACS (Pritunl access control system)</title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <link href="/css/font.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/custom.js"></script>
    <script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
</script>
</head>
<body>
        <div id="top">
                <div id="top_buttons">
                    {% if show_home_button %}<i class="waves-effect waves-light btn waves-input-wrapper"><input class="waves-button-input" id="show_home_button" type="submit" value="Home"></i>{% endif %}
                    {% if show_pacs_button %}<i class="waves-effect waves-light btn waves-input-wrapper"><input class="waves-button-input" id="pacs_status_button" type="submit" value="{% if pacs_enabled %}Disable{% else %}Enable{% endif %} PACS"></i>{% endif %}
                    {% if show_sccm_button %}<i class="waves-effect waves-light btn waves-input-wrapper"><input class="waves-button-input" id="sccm_import_button" type="submit" value="SCCM Import"></i>{% endif %}
                    {% if show_logs_button %}<i class="waves-effect waves-light btn waves-input-wrapper"><input class="waves-button-input" id="show_logs_button" type="submit" value="Logs & Audit Trail"></i>{% endif %}
                </div>
            <div id="logon_details">{{ logon }} <a href="/logout">logout</a></div>
        </div>