{% include "header.html" %}
    <script language="javascript">
        document.addEventListener('DOMContentLoaded', function () {
            $("body").on('click', '#show_logs_button', function() {
                     document.location.href = "/logs";
            });
        });
    </script>
{% if action == "edit" %}
    <script language="javascript">
        document.addEventListener('DOMContentLoaded', function () {
            switch_add_to_edit();
        });
    </script>
{% endif %}
        <div id="add_computer_form">
            {% for error in errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
            <form method="post" id="computer_form" action="/{{route}}">
                <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" id="computer_id" name="id" value="{{ id }}"/>
                <div class="input-field">
                    {{ form.name() }}
                    {{ form.name.label() }}
                </div>
                <div class="input-field">
                    {{ form.description() }}
                    {{ form.description.label() }}
                </div>
                <div class="input-field">
                    <span>
                          <label>
                            <input id="ignore_av_check" name="ignore_av_check" type="checkbox"{% if ignore_av_check %} checked="checked" {% endif %}/>
                            <span>Ignore anti virus status</span>
                          </label>
                    </span>
                </div>
                {% for mac_address in mac_addresses %}
                <div class="input-field">
                  <input class="upper mac_address" id="mac{{ loop.index }}" name="mac" value="{{ mac_address }}" type="text">
                  <label for="mac{{ loop.index }}">MAC address</label>
                </div>
                  {% if loop.last %}
                  <a id="add_mac_icon" title="add mac address"><i class="material-icons mdc-text-field__icon">add</i>Add additional mac address</a><br/>
                  {% endif %}
                {% endfor %}
                <span id="span_add_button"><input disabled class="waves-effect waves-light btn" id="computer_form_submit" type="submit" value="Add" /></span>
                <span id="computer_form_edit_span"><input class="waves-effect waves-light btn" type="submit" value="Update" /></span>
                <span id="computer_form_switch_span"><input class="waves-effect waves-light btn" type="submit" value="Switch to add" /></span>
            </form>
            {% if pacs_enabled %}
                <img src="/images/funny_pigeon.gif" title="PACS is enabled :-)"\>
            {% endif %}
        </div>
        <div id="show_current_computers">
            <table id="computer_table" class="highlight">
                <tr><th class="th_order_by">Name</th><th class="th_order_by">Description</th><th class="th_order_by">Last logon</th><th class="ignore_av th_order_by">Ignore AV</th><th>Mac addresses</th><th class="th_order_by">Source</th><th>Actions</th></tr>
                {% for computer in computers %}
                    <tr>
                        <td>{{ computer.name }}</td>
                        <td>{{ computer.description }}</td>
                        <td>{{ computer.last_logon_name }}</td>
                        <td class="ignore_av">{{ computer.ignore_av_check }}</td>
                        <td>{% for mac_address in computer.mac_addresses %}{{ mac_address }} {% endfor %}</td>
                        <td>{{ computer.get_source() }}</td>
                        <td><a class="delete_computer_icon" data-id="{{ computer.id }}"><i class="material-icons mdc-text-field__icon">delete</i></a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    <input type="hidden" id="order_by" value="{{ order_by }}"/>
    <input type="hidden" id="asc_or_desc" value="{{ asc_or_desc }}"/>
{% include "footer.html" %}