{% include "header.html" %}
 <script language="javascript">
        document.addEventListener('DOMContentLoaded', function () {
             $("body").on('click', '#show_home_button', function() {
                 document.location.href = "/";
             });
        });
 </script>

<div id="search_logs_div">
    {% include "logsearchform.html" %}
</div>
  <div id="show_current_logs">
        <table id="logs_table" class="highlight">
            <tr><th class="th_order_by time_col">Time</th><th class="th_order_by user_col">User</th><th class="th_order_by action_col">Action</th><th class="th_order_by result_col">Result</th></tr>
            {% for log in logs %}
                <tr>
                    <td class="time_col">{{ log.datetime }}</td>
                    <td class="user_col">{{ log.user }}</td>
                    {% if log.type == "log" %}
                    <td class="log_col" colspan="2">{{ log.action }}</td>
                    {%  else  %}
                    <td class="action_col">{{ log.action }}</td>
                    <td class="result_col">{{ log.result }}</td>
                    {%  endif %}
                </tr>
            {% endfor %}
            {% if logs|length == 0 %}
                <tr><td colspan="4">There are no logs/audit trail found matching the search criteria.</td></tr>
            {% endif %}
        </table>
    </div>
{% include "footer.html" %}